.title::before {
    transform: translate(-50%, 0);
}

.main__title {
    /* filter: drop-shadow(2px 2px 2px #322F8D); */
    /* -webkit-text-stroke: 2px #322F8D; */
    -webkit-text-fill-color: white;
}

* {
    font-family: 'Cairo', 'sans-serif'
}